body {
    display: flex;
    background: #FF334C;
}

.contenedor {
    border: 5px solid #3C33FF;
    margin: auto;
    width: 80%;
    background: #33FFF6;
    padding: 10px;
}

.Principal {
    background: #33FF8A;
    padding: 10px;
}

.header {
    display: flex;
}

.Nombre {
    margin-left: 40px;
    width: 10px;
}

.nav {
    margin-bottom: 0;
}

.jumbotron {
    background: #428BCA;
    color: #FF334C;
    padding: 20px 0;
}